@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

// font-family: 'IBM Plex Sans', san-serif;

:root {
  --primary-color: #fe2c55;
  --font-family: 'IBM Plex Sans', sans-serif;
  --black: black;
  --white: white;
  --text-color: #333;

  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem; // 16px
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}
